body,
html {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  min-height: 300px;
}

.col {
  flex: 1;
}

.col-1 {
  background-color: red;
}

.col-2 {
  background-color: blue;
}

.col ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.col ul li {
  width: 100%;
  padding: 15px 0;
  display: block;
  background-color: rgba(194, 191, 191, 0.61);
  list-style: none;
  margin-bottom: 5px;
  align-self: center;
}

.col ul li:last-child {
  margin-bottom: 0;
}

.col-2 ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}