body,
html {
  margin: 0;
  padding: 0;
}

.col {
  display: inline-block;
  width: 49%;
  height: 400px;
}

.col-1 {
  background-color: red;
}

.col-2 {
  background-color: blue;
}

.col ul {
  margin: 0;
  padding: 0;
}

.col ul li {
  /* width: 100%; */
  padding: 15px 30px;
  background-color: rgba(194, 191, 191, 0.61);
  list-style: none;
  margin-bottom: 5px;
}

.col ul li:last-child {
  margin-bottom: 0;
}

.col-2 ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}